/* css reset */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    box-sizing: border-box;
    --border-color: rgb(0, 0, 0, 0.35);
}

nav {
    display: flex;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 65vh;
    gap: 1.5rem;
    margin: 1rem auto;
    flex-wrap: wrap;
}

.board {
    display: grid;
    grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(11, 50px);
}

.board>div,
.board>button {
    border: 1px solid black;
    text-align: center;
    background-color: white;
    margin: 0 -1px -1px 0;
}

.board>div:not(:has([data-coords])),
.board>button:not(:has([data-coords])) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 14px;
}

.board>.intact {
    background-color: rgb(0, 0, 255, 0.5);
}

.board>.hit {
    background-color: red;
}

.board>.miss {
    background-color: lightgrey;
}

#right>.board>.blank:hover {
    outline: 2px solid rgb(0, 0, 0, 1);
    z-index: 999;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
