/* css reset */
* {
    box-sizing: border-box;
    --border-color: rgb(0, 0, 0, 0.35);
}

h1 {
    text-align: center;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
    gap: 1rem;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.board>div {
    padding: 15px;
    text-align: center;
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.board>.intact {
    background-color: rgb(0, 0, 255, 0.5);
}

.board>.hit {
    background-color: red;
}

.board>.miss {
    background-color: orange;
}

#enemy-side>.board>.blank:hover {
    outline: 2px solid rgb(0, 0, 0, 0.6);
    z-index: 999;
}
